.SignIn {
  // width: 380px;
  display: flex;
  flex-direction: column;
  span{
      text-align: center;
  }

  .title {
    text-align: center;
    font-size: 1.6rem;
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 900px){
  .SignIn{
    padding-bottom: 100px;
    .buttons{
      flex-direction: column;
    }
  }
  }