@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:  #212121;
    min-height: 100vh;
}