.cart{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    
    h1{
        font-size: 1.8rem;
        margin-bottom: 60px;
    }

    .resume{
        width: 100%;
        border-top: solid 1px white;
        padding-top: 10px;
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.7rem;
    }
}